.header {
  display: flex;
  align-items: center;
}

.logoText {
  /* position: absolute; */
  width: 157px;
  height: 60px;
  left: 108.07px;
  top: 31.88px;

  font-family: "El Messiri";
  font-style: normal;
  font-weight: 400;
  font-size: 38.5094px;
  line-height: 60px;

  color: #4792ff;
}
